body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 40px;
}

h2 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 6px;
}

button {
    padding: 8px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
